@import "rupture"
@import "mixins"
@import "vars"

.page
  padding: 30px 0

.container
  padding-right: 15px
  padding-left: 15px
  max-width: 1170px
  margin: 0 auto
  +between(md,md)
    max-width: 970px
  +between(sm,sm)
    max-width: 750px
  +below(xs)
    padding-right: 20px
    padding-left: 20px

.title
  text-align: center
  font-size: 28px
  margin-top: 0
  margin-bottom: 30px

.params
  display: flex
  +above(sm)
    justify-content: space-between
  +below(xs)
    flex-direction: column

.param
  +above(sm)
    width: calc(100% / 2 - 15px / 2)
  &__title
    font-size: 16px
    margin-bottom: 5px
  &_gender
    +above(sm)
      display: flex
      flex-direction: column
      align-items: flex-end
    +below(xs)
      order: -1
      margin-bottom: 15px

.input
  position: relative
  &_error
    .input
      &__field
        color: $color-red
        border-color: $color-red
        background-color: rgba($color-red, 0.1)
        &:hover,
        &:focus
          border-color: $color-red
  &__field
    display: block
    width: 100%
    background-color: #fff
    padding: 10px
    line-height: 1
    border: 1px solid $color-gray
    border-radius: $border-radius
    -webkit-appearance: none
    outline: none
    transition: 0.25s ease-in-out
    transition-property: color, border-color, background-color
    &:hover,
    &:focus
      border-color: $color-green
  &__error
    position: absolute
    top: calc(100% + 3px)
    left: 0
    right: 0
    color: $color-red
    font-size: 12px
    +below(360px)
      top: calc(100% + 2px)
      line-height: 1

.users
  display: flex
  flex-wrap: wrap
  margin-top: 15px

.pagination
  display: flex
  justify-content: center
  transition: opacity 0.25s ease-in-out
  margin-top: 15px
  .btn
    margin-right: 15px
    &:last-child
      margin-right: 0

.btn
  position: relative
  display: inline-flex
  cursor: pointer
  background: #fff
  border: 1px solid $color-gray
  -webkit-appearance: none
  outline: none
  justify-content: center
  min-width: 110px
  color: $color-grayDark
  padding: 12px 20px
  border-radius: $border-radius
  transition: 0.25s ease-in-out
  transition-property: color, border-color, background-color
  @include loader
  &:hover
    color: $color-green
    border-color: $color-green
    background-color: rgba($color-green, 0.1)
  &::after
    opacity: 0
    visibility: hidden
    transition: 0.25s ease-in-out
    transition-property: opacity, visibility
  &.active
    pointer-events: none
    color: transparent
    border-color: $color-green
    background-color: rgba($color-green, 0.1)
    &::after
      opacity: 1
      visibility: visible

.disabled
  pointer-events: none
  user-select: none
  cursor: default
  opacity: 0.5
