@import '~normalize.css/normalize'
@import 'swal2'
@import 'vars'

*,
*:before,
*:after
  box-sizing: border-box
  margin: 0

html
  background-color: #f5f7f3

body
  font-size: 14px
  overflow-x: hidden
  color: $color-grayDark
  -ms-text-size-adjust: 100%
  -webkit-text-size-adjust: 100%
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
