@import "vars"

@mixin users-in-row($users, $user-indent: 15px)
  width: calc(100% / #{$users} - (#{$user-indent} * (#{$users} - 1))  / #{$users})
  margin-right: $user-indent
  &:nth-child(#{$users}n)
    margin-right: 0

@mixin loader($size: 24px, $width: 2px)
  &::after
    content: ''
    display: block
    position: absolute
    top: 50%
    left: 50%
    border-radius: 50%
    width: $size
    height: $size
    border-top: $width solid rgba($color-green, 0.2)
    border-right: $width solid rgba($color-green, 0.2)
    border-bottom: $width solid rgba($color-green, 0.2)
    border-left: $width solid $color-green
    transform: translate(-50%, -50%)
    animation: rotate-loader 1.1s infinite ease-in-out

@keyframes rotate-loader
  0%
    transform: translate(-50%, -50%) rotate(0deg)
  100%
    transform: translate(-50%, -50%) rotate(360deg)
