@import "vars"

.radio-group
  margin-top: 8px
  transition: opacity 0.25s ease-in-out
  &_inline
    display: flex
    flex-wrap: wrap
    .radio
      display: inline-flex
      margin-right: 15px
      &:last-child
        margin-right: 0

.radio
  &__label
    display: flex
    align-items: center
    box-sizing: border-box
    position: relative
    cursor: pointer
    &:hover
      .radio
        &__frame
          border-color: $color-green
        &__text
          color: $color-green
  &__input
    position: absolute
    top: 0
    left: 0
    width: 0
    height: 0
    opacity: 0
    &:checked
      & ~ .radio
        &__frame
          border-color: $color-green
          &::after
            transform: translate(-50%, -50%) scale(1)
        &__text
          color: $color-green
  &__frame
    position: relative
    width: 20px
    height: 20px
    flex-shrink: 0
    border-radius: $border-radius
    margin-right: 10px
    box-sizing: border-box
    border: 1px solid $color-grayDark
    transition: border-color 0.25s ease-in-out
    &::after
      content: ''
      display: block
      position: absolute
      top: 50%
      left: 50%
      width: 10px
      height: 10px
      border-radius: $border-radius
      background-color: $color-green
      transform: translate(-50%, -50%) scale(0)
      transition: transform 0.25s ease-in-out
  &__text
    position: relative
    top: 1px
    transition: color 0.25s ease-in-out
