@import "rupture"
@import "mixins"
@import "vars"

.user
  cursor: pointer
  margin-top: 15px
  border-radius: $border-radius
  background-color: #fff
  border: 1px solid $color-gray
  padding: $user-top-padding $user-side-padding 30px
  +above(lg)
    @include users-in-row(4)
  +between(md,md)
    @include users-in-row(3)
  +between(sm,sm)
    @include users-in-row(2)
  +below(xs)
    width: 100%
  &__details
    text-align: center
    margin-bottom: 20px
  &__title
    color: #999
    margin-top: 20px
  &__value
    margin-top: 5px
    font-size: 16px
    line-height: 1.5
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis

.photo
  position: relative
  display: flex
  justify-content: center
  @include loader(50px, 3px)
  &::before
    content: ''
    display: block
    position: absolute
    top: -$user-top-padding
    left: -$user-side-padding
    right: -$user-side-padding
    bottom: calc(50% - #{$user-top-padding} * 1.5)
    border-radius: $border-radius $border-radius 0 0
    background: #f9f9f9
    border-bottom: 1px solid $color-gray
  &__container
    position: relative
    padding: 5px
    border-radius: 50%
    background-color: #fff
    border: 1px solid $color-gray
  &__img
    display: block
    position: relative
    z-index: 1
    border-radius: 50%

.values-list
  display: flex
  justify-content: center
  &__item
    width: 40px
    height: 48px
    margin-right: 20px
    background-image: url("~assets/img/icons.png")
    background-size: 378px
    transition: background-position 0.25s ease-in-out
    &:last-child
      margin-right: 0
    &_name
      background-position: 0 -48px
      &.active
        background-position: 0 -96px
    &_email
      background-position: -68px -48px
      &.active
        background-position: -68px -96px
    &_dob
      background-position: -135px -48px
      &.active
        background-position: -135px -96px

.user-enter
  opacity: 0
  position: absolute
  transform: scale(0.9)
  &-active
    transition: 0.35s ease-in-out
    transition-property: opacity, transform
