<template lang="pug">
.radio
  label.radio__label
    input.radio__input(type="radio" :checked="checked" @input="onInput")
    i.radio__frame
    span.radio__text {{ name }}
</template>

<script>
export default {
  name: "Radio",
  props: {
    name: {
      type: String,
      required: true
    },
    val: {
      type: String,
      required: true
    }
  },
  computed: {
    checked() {
      return this.$attrs.value === this.val;
    }
  },
  methods: {
    onInput() {
      this.$emit("input", this.val);
    }
  }
};
</script>

<style lang="sass">
@import "assets/sass/radio"
</style>
