<template lang="pug">
.user(@click="showAlert")
  .user__details
    .photo
      .photo__container
        img.photo__img.lazyload(
          :data-src="user.picture.large"
          src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII="
          width="150"
          height="150"
          alt="photo"
        )
    .user__title {{ activeTitleValue.title }}
    .user__value(:title="value") {{ value }}
  .values-list
    .values-list__item(
      v-for="userTitleValue in userTitlesValues"
      :key="userTitleValue.value"
      @mouseover="setActiveValue(userTitleValue.value)"
      :class="[`values-list__item_${userTitleValue.value}`, {'active': userTitleValue.value === activeValue}]"
    )
</template>

<script>
import { mapGetters } from "vuex";
import "lazysizes";

export default {
  props: {
    user: {
      type: Object,
      required: true
    }
  },
  data: () => ({
    activeValue: "name"
  }),
  computed: {
    ...mapGetters({
      userTitlesValues: "userTitlesValues"
    }),
    activeTitleValue() {
      return this.userTitlesValues.find(
        item => item.value === this.activeValue
      );
    },
    value() {
      const activeValue = this.activeTitleValue.value;
      return this[activeValue] || this.user[activeValue];
    },
    name() {
      return `${this.user.name.first} ${this.user.name.last}`;
    },
    dob() {
      const date = new Date(this.user.dob.date);
      return `${date.getDate()}.${date.getMonth() + 1}.${date.getFullYear()}`;
    }
  },
  methods: {
    setActiveValue(value) {
      this.activeValue = value;
    },
    showAlert() {
      const text = `My email is ${this.user.email}. Gender is ${this.user.gender}. Age is ${this.user.dob.age}.`;
      // alert(text);
      this.$swal.fire({
        timer: 3000,
        type: "info",
        position: "top",
        title: "Auto close alert!",
        text
      });
    }
  }
};
</script>

<style lang="sass">
@import "assets/sass/user"
</style>
