<template lang="pug">
.page
  .container
    h1.title Random User
    .params
      .param
        .param__title Quantity
        .input(:class="{'input_error': errorMessage}")
          input.input__field(type="text" v-model="resultsModel")
          .input__error(v-if="errorMessage") {{ errorMessage }}
      .param.param_gender
        .param__title Gender
        .radio-group.radio-group_inline(:class="{'disabled': errorMessage}")
          radio(
            v-for="genderOption in genderOptions"
            :key="genderOption.val"
            :name="genderOption.name"
            :val="genderOption.val"
            v-model="genderModel"
          )
    transition-group.users(name="user" tag="div")
      user(v-for="user in users" :key="user.email" :user="user")
    .pagination(:class="{'disabled': errorMessage}")
      button.btn(:class="{'active': isLoadMoreActive}" @click="loadMore") Load More
      button.btn(:class="{'active': isNextPageLoading}" @click="loadNextPage") Next Page
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import Radio from "~/components/Radio";
import User from "~/components/User";

export default {
  components: { User, Radio },
  data: () => ({
    resultsModel: "",
    errorMessage: null,
    isLoadMoreActive: false,
    isNextPageLoading: false
  }),
  computed: {
    ...mapGetters({
      genderOptions: "genderOptions",
      results: "results",
      gender: "gender",
      users: "users",
      page: "page"
    }),
    genderModel: {
      get() {
        return this.gender;
      },
      set(value) {
        this.setGender(value);
        this.fetchUsersPage();
      }
    }
  },
  watch: {
    resultsModel(newValue) {
      if (newValue === "") {
        this.errorMessage = "This field is required";
      } else if (!/^(?:[1-9]|0[1-9]|1[0-9]|20)$/.test(newValue)) {
        this.errorMessage =
          "The available values for this field are integers from 1 to 20";
      } else {
        this.errorMessage = "";
        this.setResults(newValue);
      }
    },
    results() {
      this.fetchUsersPage();
    }
  },
  created() {
    this.resultsModel = this.results;
  },
  methods: {
    ...mapActions({
      setResults: "setResults",
      setGender: "setGender",
      fetchUsersMore: "fetchUsersMore",
      fetchUsersPage: "fetchUsersPage"
    }),
    loadMore() {
      this.isLoadMoreActive = true;
      this.fetchUsersMore().then(() => {
        this.isLoadMoreActive = false;
      });
    },
    loadNextPage() {
      this.isNextPageLoading = true;
      this.fetchUsersPage(this.page + 1).then(() => {
        this.isNextPageLoading = false;
      });
    }
  },
  head: {
    title: "Random User"
  }
};
</script>

<style lang="sass">
@import 'assets/sass/index'
</style>
